<div class="container">
    <div class="row g-24">
        <div class="col-12">
            <div class="blog-2__item-wrapper section-bg-2 mt-5">
                @if (highlightedList) {
                <div class="blog-2__item">
                    <app-highlighted-image [highlighted]="highlightedList[0]"></app-highlighted-image>
                </div>
                <div class="blog-2__item blog-2__item-text">
                    <app-highlighted-description [highlighted]="highlightedList[0]"></app-highlighted-description>
                </div>
                <div class="blog-2__item blog-2__item-text">
                    <app-highlighted-description [highlighted]="highlightedList[1]"></app-highlighted-description>
                </div>
                <div class="blog-2__item">
                    <app-highlighted-image [highlighted]="highlightedList[1]"></app-highlighted-image>
                </div>
                }
            </div>
        </div>
    </div>
</div>
