<div class="comment-widget">
    <h4 class="mb-30 mb-xs-25">{{ commentsArray.length }} Comments</h4>
    @for (comment of commentsArray; track comment.id) {
    <div class="comment-item d-flex">
        <div class="comment-item__media">
            <img src="assets/imgs/blog-details/author-1.png" class="img-fluid" alt="image not found" />
        </div>

        <div class="comment-item__content">
            <div class="comment-item__header d-flex align-items-center justify-content-between">
                <div class="comment-item__header-left">
                    <span class="date">{{ comment.date }}</span>
                    <h5 class="name">{{ comment.author }}</h5>
                </div>
            </div>
            <p class="mb-0">{{ comment.text }}</p>
        </div>
        <div class="ms-auto d-flex align-items-center">
            <button (click)="deleteComment()">
                <i class="fa-solid fa-trash-can text-danger cursor-pointer"></i>
            </button>
        </div>
    </div>
    }

    <div class="live-comment-widget mt-60 mt-xs-40 section-bg-2">
        <h4 class="mb-20 text-capitalize">Leave a comment</h4>

        @if (!authData) {
        <div>
            <p class="mb-50">You must be logged in to comment.</p>
        </div>
        } @else {
        <div class="contact-us-message__form">
            <div class="row g-20">
                <mat-form-field>
                    <mat-label>Full Name</mat-label>
                    <input matInput [formControl]="author" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email Address</mat-label>
                    <input matInput [formControl]="email" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Write Your Comment</mat-label>
                    <textarea matInput placeholder="Summary" [formControl]="comment"></textarea>
                </mat-form-field>

                @if (!formIsValid) {
                <div class="col-12 text-center">
                    <p class="not-valid">Please enter a valid comment.</p>
                </div>
                }

                <div class="col-12">
                    <button class="rr-btn-solid" (click)="submitComment()">
                        <span class="btn-wrap">
                            <span class="text-one">Submit Comment</span>
                            <span class="text-two">Submit Comment</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        }
    </div>
</div>
