<div class="blog-4__item section-bg-2 mb-30">
    <div class="blog-4__item-thumb">
        <a class="blog-4__item-thumb-img" [routerLink]="['/recipes/', recipe.id]">
            <img [src]="recipe.image" class="img-fluid" alt="image not found" />
        </a>

        <ul class="blog-4__item-tag">
            <li>
                <p>
                    <i class="fa-regular fa-clock me-2"></i>
                    {{ recipe.readyInMinutes }} min | {{ recipe.servings }}
                    <i class="fa-solid fa-utensils mx-2"></i>
                </p>
            </li>
        </ul>
    </div>

    <div class="blog-4__item-content">
        <ul class="blog-4__item-meta mb-15">
            <li>
                <i class="fa-solid fa-circle-user"></i>by
                {{ recipe.authorName === " " ? "Foodista" : recipe.authorName }}
            </li>
        </ul>

        <h4 class="blog-4__item-content-title text-uppercase fw-bold mb-15">
            <a [routerLink]="'/recipes/' + recipe.id">{{ recipe.title }}</a>
        </h4>
        <p class="blog-4__item-content-p mb-20 text-truncate" [innerHTML]="recipe.summary"></p>

        @if (isUserRecipe) {
        <button type="button" class="rr-btn-3__header mb-30 me-5" (click)="editRecipe.emit(recipe)">
            <span class="btn-wrap">
                <span class="text-one">Edit Recipe <i class="fa-regular fa-plus"></i></span>
                <span class="text-two">Edit Recipe <i class="fa-regular fa-plus"></i></span>
            </span>
        </button>
        <button type="button" class="btn fs-3 text-danger" (click)="deleteRecipe.emit(recipe)">
            <i class="fa-regular fa-trash-can"></i>
        </button>
        } @else {
        <a [routerLink]="'/recipes/' + recipe.id" class="readmore"
            >Read Details <i class="fa-regular fa-angles-right"></i
        ></a>
        }
    </div>
</div>
