<app-base-half-hero title="Profile page" page="Profile" image="assets/imgs/cta-2/cta.jpg"></app-base-half-hero>

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="opening-time__content wow clip-a-z text-center">
                <div class="section__title-wrapper text-center mb-35">
                    <h3 class="text-uppercase fw-bold mb-1">Your profile</h3>
                    <p>View and update your account details.</p>
                </div>
                <form class="contact-us-message__form" (submit)="submitForm()">
                    <div class="row">
                        <mat-form-field>
                            <mat-label>First Name</mat-label>
                            <input matInput [formControl]="firstName" [errorStateMatcher]="matcher" />
                            @if (firstName.hasError('pattern')) {
                            <mat-error>Please enter a valid first name</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Last Name</mat-label>
                            <input matInput [formControl]="lastName" [errorStateMatcher]="matcher" />
                            @if (lastName.hasError('pattern')) {
                            <mat-error>Please enter a valid last name</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Username</mat-label>
                            <input matInput [formControl]="username" [errorStateMatcher]="matcher" />
                            @if (username.hasError('pattern')) {
                            <mat-error>Please enter a valid username</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Email Address</mat-label>
                            <input matInput [formControl]="email" [errorStateMatcher]="matcher" />
                            @if (email.hasError('email')) {
                            <mat-error>Please enter a valid email address</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>New Password</mat-label>
                            <input
                                matInput
                                [formControl]="newPassword"
                                [errorStateMatcher]="matcher"
                                [type]="hide ? 'password' : 'text'"
                            />
                            <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
                                <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                            </button>
                            @if (newPassword.hasError('pattern')) {
                            <mat-error
                                >At least 8 characters, 1 uppercase letter, 1 number, 1 special character</mat-error
                            >
                            }
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Confirm Password</mat-label>
                            <input
                                type="password"
                                matInput
                                [formControl]="confirmPassword"
                                [errorStateMatcher]="matcher"
                            />
                            @if (confirmPassword.hasError('pattern')) {
                            <mat-error>Please enter a valid confirm password</mat-error>
                            }
                        </mat-form-field>
                        @if (!formIsValid) {
                        <p class="text-danger">Please fill in all required fields</p>
                        }
                        <div class="col-12 mb-50">
                            <button type="submit" class="rr-btn-solid">
                                <span class="btn-wrap">
                                    <span class="text-one">Save Changes <i class="fa-regular fa-floppy-disk"></i></span>
                                    <span class="text-two">Save Changes <i class="fa-regular fa-floppy-disk"></i></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
                <button type="button" class="btn fs-3 text-danger" (click)="openDeleteDialog()">Delete profile?</button>
            </div>
        </div>
        <div class="col-6">
            <div class="opening-time__content wow clip-a-z text-center">
                <div class="section__title-wrapper text-center mb-35">
                    <h3 class="text-uppercase fw-bold mb-1">Your recipes</h3>
                    <p>View and update your recipes.</p>

                    <button type="button" class="rr-btn-3__header mb-30" (click)="openNewRecipeDialog()">
                        <span class="btn-wrap">
                            <span class="text-one">Add Recipe <i class="fa-regular fa-plus"></i></span>
                            <span class="text-two">Add Recipe <i class="fa-regular fa-plus"></i></span>
                        </span>
                    </button>

                    @for (recipe of recipes; track recipe.id) {
                    <app-recipe-preview
                        [recipe]="recipe"
                        [isUserRecipe]="true"
                        (editRecipe)="openEditRecipeDialog(recipe)"
                        (deleteRecipe)="openDeleteRecipeDialog(recipe)"
                    ></app-recipe-preview>
                    } @empty {
                    <div class="text-center pt-5">
                        <i class="fa-regular fa-circle-info fs-1"></i>
                        <h4 class="text-muted">No recipes yet</h4>
                        <p class="fs-2">Start adding your recipes now!</p>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
