<footer>
    <section class="footer-2__area-common footer-2__overlay theme-bg-secondary overflow-hidden">
        <div class="footer-2__background leftRight" data-background="../../assets/imgs/footer-2/bg.png"></div>
        <div class="footer-2__main-wrapper footer-2__bottom-border position-relative z-2 pb-100 pb-xs-80">
            <div class="container">
                <div class="row g-24 mb-minus-50">
                    <div class="col-lg-3 col-6">
                        <div class="footer-2__widget footer-2__widget-item-1">
                            <div class="footer-2__logo mb-30 mb-xs-25">
                                <a href="index.html">
                                    <img
                                        class="img-fluid"
                                        src="../../assets/imgs/logo/footer-logo.svg"
                                        alt="logo not found"
                                    />
                                </a>
                            </div>

                            <div class="footer-2__content mb-30 mb-xs-25">
                                <p class="mb-0">1234, Restaurant St, South City New York 0124</p>
                            </div>

                            <div class="footer-2__social">
                                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                <a href="https://twitter.com/"><i class="fa-brands fa-x-twitter"></i></a>
                                <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="footer-2__widget footer-2__widget-item-2">
                            <div class="footer-2__widget-title">
                                <h4>LINKS</h4>
                            </div>

                            <div class="footer-2__link">
                                <ul>
                                    <li>
                                        <a href="about-us.html"><i class="fa-regular fa-arrow-right"></i>About Us</a>
                                    </li>
                                    <li>
                                        <a href="team.html"><i class="fa-regular fa-arrow-right"></i>Meet our team</a>
                                    </li>
                                    <li>
                                        <a href="blog-details.html"
                                            ><i class="fa-regular fa-arrow-right"></i>Case stories</a
                                        >
                                    </li>
                                    <li>
                                        <a href="blog.html"><i class="fa-regular fa-arrow-right"></i>Latest News</a>
                                    </li>
                                    <li>
                                        <a href="contact-us.html"><i class="fa-regular fa-arrow-right"></i>Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="footer-2__widget footer-2__widget-item-3">
                            <div class="footer-2__widget-title">
                                <h4>BEST FOOD MENU</h4>
                            </div>

                            <div class="footer-2__link footer-2__link-16">
                                <ul>
                                    <li>
                                        <a href="menu.html"><i class="fa-regular fa-arrow-right"></i>White Castle</a>
                                    </li>
                                    <li>
                                        <a href="menu.html"><i class="fa-regular fa-arrow-right"></i>Beef Sandwich</a>
                                    </li>
                                    <li>
                                        <a href="menu.html"><i class="fa-regular fa-arrow-right"></i>Cherry Limeade</a>
                                    </li>
                                    <li>
                                        <a href="menu.html"><i class="fa-regular fa-arrow-right"></i>Wendy’s Frosty</a>
                                    </li>
                                    <li>
                                        <a href="menu.html"><i class="fa-regular fa-arrow-right"></i>Pumpkin Spice</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="footer-2__widget footer-2__widget-item-4">
                            <div class="footer-2__widget-title">
                                <h4>NEWSLETTER</h4>
                            </div>

                            <div class="footer-2__subscribe-content">
                                <p class="mb-0">Subscribe us & receive our offers and updates your inbox directly</p>

                                <div class="footer-2__subscribe d-flex mt-30 mt-xs-25">
                                    <input type="text" placeholder="Email Address" />
                                    <button type="submit" class="footer-2__subscribe-btn">
                                        <img src="../../assets/imgs/icon/plane.svg" alt="not found" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-2__bottom-wrapper position-relative z-2">
            <div class="container">
                <div class="footer-2__bottom">
                    <div class="row g-24">
                        <div class="col-lg-6">
                            <div class="footer-2__copyright text-lg-start text-center">
                                <p class="mb-0">All rights received 2024. <a href="index.html">Delish</a> Restaurant</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="footer-2__copyright-menu">
                                <ul>
                                    <li><a href="about-us.html">Terms of use</a></li>
                                    <li><a href="about-us.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
